@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
      background-color: #f8fafc;
      font-family: 'Open Sans Variable', sans-serif;
  }
}

.text {
  max-width: 35em;
  margin: 0 auto;
  margin-top: 2rem;
  line-height: 2;
  color: #64748b;
}

.prev,
.next {
  position: absolute;
  top: 200px;
  background: #64748b;
  color: #fff;
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
}

.prev:hover,
.next:hover {
  background: #0e14a1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

@media screen and (min-width: 800px) {
  .text {
    max-width: 45em;
  }

  .prev,
  .next {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  }
}

.next-slide {
  transform: translateX(100%);
}